* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}

.body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1132%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1133)'%3e%3c/rect%3e%3cpath d='M0 0L682.72 0L0 56.57z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 56.57L682.72 0L916.1500000000001 0L0 118.5z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 118.5L916.1500000000001 0L974.7800000000001 0L0 240.44z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 240.44L974.7800000000001 0L1151.15 0L0 395.09000000000003z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L964.29 560L1440 363.84000000000003z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 363.84000000000003L964.29 560L544.45 560L1440 252.01000000000005z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 252.01L544.45 560L508.69000000000005 560L1440 209.03z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 209.02999999999997L508.69000000000005 560L202.35000000000008 560L1440 89.38999999999997z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1132'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1133'%3e%3cstop stop-color='rgba(55%2c 106%2c 158%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(18%2c 195%2c 129%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.seccion {
  width: 45%;
  margin: 0 auto;
  padding-top: 15rem;
}

.seccion2 {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  position: fixed;
  background: #15599E;
  width: 100vmax;
  height: 10rem;
  z-index: 100;
}
.header__logo {
  padding: 1rem;
  width: 160px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__nav__item {
  padding: 1rem;
  list-style: none;
  font-size: 2rem;
  text-transform: uppercase;
}
.header__nav__item__decoracion {
  text-decoration: none;
}

.container {
  background: white;
  padding: 1rem;
}
.container__btn {
  display: flex;
  flex-direction: row;
  padding-left: 18.5px;
  justify-content: flex-start;
}
.container__btn__button {
  margin-right: 20px;
  padding: 5px;
  border: 1px solid grey;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  height: 60px;
  width: 460px;
}
.form__box {
  padding-left: 2rem;
}
.form__button {
  margin-left: 20px;
  margin-right: -7.5rem;
  width: 250px;
  border: 1px solid grey;
  border-radius: 5px;
}

.container__list {
  display: flex;
  flex-direction: row;
}

.container__list li {
  list-style: none;
}

.container__comentarios {
  display: flex;
  flex-direction: row;
  margin-top: 5.4rem;
  margin-right: 6.7rem;
  margin-left: 6.7rem;
  overflow: auto;
}/*# sourceMappingURL=styles.css.map */